* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, "courier new";
}

body {
  background: rgba(191, 145, 84, 0.4)
}

p {
  color: rgba(31, 7, 7, 0.8);
  font-size: 1.5rem;
  line-height: 155%;
  padding: 2%;
  text-indent: 2%;
  text-align: center;
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(31, 7, 7, 0.8);
  font-weight: 800;
  font-size: 1.2rem;
}

h1 {
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 900;
  color: rgba(31, 7, 7, 0.8);
  padding: 1rem;
}

h2 {
  font-size: 9rem;
  line-height: 10rem;
  font-weight: bolder;
  color: rgba(45, 44, 44, 0.1);
  text-align: right;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #1f0707cc;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #1f0707cc;
}

a:hover {
  color: rgb(235, 198, 153, 0.6);
}

.active {
  color: rgb(235, 198, 153, 0.6);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  height: auto;
  /*   margin-bottom: -4px; */
}

#wrapper {
  background: rgba(229, 186, 129, 0.4);
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  /*   background: rgba(121, 211, 151, 0.3);
 */
  align-items: center;
  overflow: visible;
}

header {
  background: rgba(191, 145, 84, 0.4);
  width: 100%;
  height: 7rem;
  top: 0;
  left: 0;
}

.header-gift img {
  position: absolute;
  top: 0.3rem;
  left: 6rem;
  border-radius: 50%;
  width: 180px;
  height: 135px;
  border: 3px solid rgba(31, 7, 7, 0.2);
}

.logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgba(31, 7, 7, 0.2);
  /*  margin-top: -6rem; */
}

nav {
  float: right;
  padding: 2rem 1rem 1rem 0;
}

#menu-icon {
  display: none;
  color: rgba(191, 145, 84, 0.8);
  font-size: 50px;
}

nav ul li {
  display: inline-block;
  font-size: 160%;
  padding: 10px;
}

.up {

  position: fixed;
  top: 35rem;
  right: 5rem;
  text-align: right;
  width: fit-content;
}

.up figure {
  margin: 0;
  padding: 0;
}

.up-text {
  visibility: hidden;
  width: fit-content;
  padding: 0 0.5rem;
  opacity: 0;
  transition: all 500ms ease-out;
}

.up img:hover {
  cursor: pointer;
}

.up figure:hover>.up-text {
  opacity: 1;
  visibility: visible;
}

/* about */
.about-container {
  width: 100%;
  background-color: rgba(221, 180, 130, 0.5);
  display: flexbox;
  flex-flow: column;
  margin-top: -6rem;
  margin-bottom: 6rem;
  padding: 9rem 0 0 0;
}

.about-code {
  background-color: rgb(211, 170, 121, 0.8);
  margin-top: -4rem;
  width: 550px;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-left: 5rem;
  float: inline-start;
}

/* slider */
.slidercontainer {
  /*   background-color: rgba(226, 43, 61, 0.8);
 */
  margin: -11rem 0 auto auto;
  width: 600px;
  height: 500px;
  padding-top: 8rem;
}

ul.slider {
  /*   background-color: rgb(214, 226, 43, 0.3);
 */
  position: relative;
  margin: -16rem auto 0 0;
  width: 280px;
  height: 430px;
  text-align: center;
}

ul.slider li {
  /*   background-color: rgba(89, 43, 226, 0.8);
 */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 320px;
  opacity: 0;
  width: inherit;
  height: 550px;
  transition: opacity .5s;
}

ul.slider li div {
  padding: 0.3rem;
  width: 100%;
  height: 65%;
  background-color: rgb(205, 161, 107);
  border-radius: 50%;
}

ul.slider li img {
  height: 50px;
}

ul.slider li p {
  text-align: center;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.slidermenu {
  text-align: center;
  background-color: rgba(205, 161, 107, 0.4);
  margin: -6rem 1rem auto auto;
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 50%;
}

.slidermenu li {
  display: inline-block;
  text-align: center;
}

.slidermenu li a {
  display: inline-block;
  color: rgba(31, 7, 7, 0.8);
  text-decoration: none;
  font-size: 20px;
  padding: 0.2rem;
}

/* skills */
.skills-section {
  background: rgba(191, 145, 84, 0.5);
  width: 33.3%;
  height: 350px;
  float: left;
  padding: 10px 10px 30px 10px;
  text-align: center;
}

.skills-icon {
  margin: -5rem auto -7rem;
  padding-top: 5rem;
  width: 250px;
  height: 250px;
  background-color: #e7be8ccc;
  border-radius: 50%;
}

/* rgba(191, 145, 84, 0.8) rgb(231, 192, 144) rgb(235, 198, 153)  */

/* links */
.links-container {
  background: rgba(201, 154, 121, 0.6);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 0 7rem 0;
  margin-top: -9rem;
  margin-bottom: -6rem;

}

#links {
  /* background-color: rgba(92, 43, 226, 0.593); */
  height: 250px;
  margin-top: 21rem;
  padding: 0;
}

.links-section {
  /*  background-color: rgba(214, 226, 43, 0.522); */
  float: left;
  width: 42%;
  height: auto;
  margin-top: -2rem;
  padding: 1%;
}

.links-section-side {
  /*   background-color: rgba(43, 226, 147, 0.538);
 */
  float: right;
  width: 50%;
  height: 250px;
  padding: 1%;
}

.link-bubble1 {
  background-color: rgba(231, 192, 144, 0.8);
  border-radius: 50%;
  width: 50%;
  height: 90%;
  margin-left: 5rem;
}

.link-bubble2 {
  background-color: rgba(208, 160, 102, 0.5);
  border-radius: 50%;
  width: 50%;
  height: 60%;
  float: left;
}

.link-bubble3 {
  background-color: rgba(231, 192, 144, 0.8);
  border-radius: 50%;
  width: 60%;
  height: 65%;
  float: right;
  margin-top: -3rem;
}

/* projects */
.projects-container {
  background-color: rgb(255, 0, 98);
  align-items: center;
}

.projects-section {
  /*  background-color: rgb(214, 255, 127); */
  width: 29%;
  height: 360px;
  float: left;
  margin: 2% 2%;
  text-align: center;
  vertical-align: middle;
  padding-top: 1rem;
}

.projects-section h3 {
  /*  background-color: rgb(214, 255, 127); */
  min-height: 110px;
}

.projects-section img {
  margin: 0.5rem auto 0.5rem;

}

.projects-section figcaption {
  border-radius: 50%;
  margin: 0.5rem auto 0.5rem;

}

.projects-section figure {
  background-color: rgba(208, 160, 102, 0.6);
  border-radius: 50%;
  min-height: 260px;
}

/* contact */
#contact {
  /*  background-color: rgb(0, 255, 255); */
  height: 180px;
  margin-top: 51rem;
}

.contact-container {
  background-color: rgba(209, 171, 142, 0.8);
  width: 100%;
  margin: -4.5rem auto;
  min-height: 260px;
  padding-top: 6rem;
}

/* recomendations */
.recomendations-container {
  background: rgba(146, 121, 201, 0.6);
  width: 100%;
}

.recomendation-section {
  /*   background: rgba(201, 154, 121, 0.6); */
  width: 46%;
  min-height: 420px;
  float: left;
  margin: 2% 2%;
  text-align: center;
}

.recomendation-section img {
  border-radius: 50%;
  border: 3px solid rgba(31, 7, 7, 0.2);
}

.recomendation-section figcaption {
  font-size: 2rem;
}

.recomendation-section p {
  font-size: 1.1rem;
  background: rgba(201, 154, 121, 0.6);
  border-radius: 50%;
}

/* footer */
footer {
  background: rgba(193, 155, 106, 0.4);
  width: 100%;
  overflow: auto;
}

.footer-container {
  width: 100%;
  margin: 1rem auto 10rem auto;
  min-height: 200px;
}

.footer-sections {
  float: left;
  width: 20%;
  padding: 1rem;
  /*   background-color: rgba(0, 255, 255, 0.402); */
  font-size: 1.5rem;
  height: 100%;
  text-align: right;
  line-height: 2.5rem;
}

.footer-icons {
  /*   background-color: rgba(225, 255, 0, 0.402);
 */
  float: left;
  width: 80%;
  padding: 1% 0 2% 55%;
}

.footer-ul {
  /*   background-color: rgba(0, 255, 21, 0.402); */
  display: flex;
  padding: 1rem;
}

.footer-ul li {
  padding: 0.5rem;
}

.footer-line {
  float: left;
  width: 80%;
}

.footer-line img {
  background-color: rgba(193, 155, 106, 0.4);
  border-radius: 50%;
}

@media screen and (max-width:760px) {
  p {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 4rem;
    padding-left: 1rem;
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 5rem;
    line-height: 3rem;
    padding-right: 1rem;
  }

  h3 {
    font-size: 3rem;
  }

  header {
    position: relative;
  }

  .header-gift img {
    top: 1rem;
    left: 1rem;
    width: 150px;
  }

  .up {
    /*   background-color: rgba(142, 130, 221, 0.5);
   */
    position: fixed;
    top: 33rem;
    right: 3rem;
  }

  /* about */
  .about-container {
    /*     background-color: rgba(142, 130, 221, 0.5);
 */
    display: flexbox;
    flex-flow: column;
  }

  .about-code {
    background-color: rgb(211, 170, 121, 0.8);
    margin: -1rem -2rem -3rem -2rem;
    width: 420px;
    height: 320px;
    border-radius: 50%;
    padding-top: 4rem;
    padding-left: 1rem;
  }

  /* slider */
  .slidercontainer {
    /*  background-color: rgba(64, 43, 226, 0.8); */
    margin: -10rem 0 auto auto;
    width: 100%;
    /* 8 */
    height: 500px;
    padding-top: 8rem;
  }

  ul.slider {
    /*     background-color: rgba(128, 226, 43, 0.2);
 */
    width: 100%;
    height: 390px;
  }

  ul.slider li {
    /*     background-color: rgba(43, 226, 58, 0.733);
 */
    width: 360px;
    height: 510px;
  }

  ul.slider li div {
    margin-top: 3rem;
    height: 120px;
    background-color: rgb(205, 161, 107);
  }

  .slidermenu {
    /*  margin: -6rem 1rem auto auto; */
    width: 100%;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
    background-color: rgba(245, 222, 179, 0);
  }

  .logo {
    margin: 1rem auto;
    width: 150px;
    height: 150px;
  }

  #menu-icon {
    display: inline-block;
  }

  nav:hover ul {
    display: block;
  }

  nav ul,
  nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: rgba(193, 155, 106, 0.5);
    right: 20px;
    width: 38%;
    opacity: 0.95;
  }

  nav li {
    text-align: center;
    width: 100%;
  }

  /* skills */

  .skills-section {
    width: 100%;
    height: 300px;
    padding: 10px 5px 10px 5px;
  }

  .skills-icon {
    margin: -4rem auto -7rem;
  }

  /* links */
  .links-container {
    display: flexbox;
    flex-flow: column;
  }

  .links-section {
    width: 100%;
    height: 180px;
  }

  .links-section-side {
    width: 100%;
  }

  /* projects */
  .projects-section {
    /*     background-color: aqua; */
    width: 100%;
    height: 310px;
    margin: 0.5rem auto 0.5rem auto;
    padding: 0.5rem;
  }

  .projects-section h3 {
    /*     background-color: rgb(214, 255, 127);
 */
    min-height: 90px;
    font-size: 2.5rem;
  }

  .projects-section figure {
    background-color: rgba(208, 160, 102, 0.6);
    min-height: 160px;
  }

  /* contact */
  #contact {
    /*     background-color: rgb(0, 255, 255);
 */
    margin-top: 120rem;
  }

  .contact-container {
    background-color: rgba(209, 171, 142, 0.8);
    margin: -10rem auto;
    min-height: 340px;
    padding-top: 6.5rem;
  }

  .contact-container h3 {
    font-size: 1.5rem;
  }

  /* recomendations */
  #recomendations {
    font-size: 3rem;
  }

  .recomendation-section {
    width: 100%;
    min-height: 320px;
    margin: 1rem auto 0 auto;
  }

  .recomendation-section img {
    width: 20%;
  }

  .recomendation-section p {
    font-size: 1rem;
  }

  /* footer */
  .footer-container {
    width: 100%;
    min-height: 100px;
  }

  .footer-sections {
    width: 52%;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .footer-icons {
    float: right;
    width: 100%;
  }


  .footer-ul {
    padding: 0.1rem;
  }

  .footer-line {
    width: 100%;
  }
}